#first {
    background-image: url("/background-fixed/turtle01.jpeg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#second {
    background-image: url("/background-fixed/turtle01.jpeg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%) blur(1px);
}

#third {
    background-image: url("/background-fixed/turtle01.jpeg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%) blur(1px);
}